<h3>Geschäftsbereich Landwirtschaft</h3>
<p>	<a href="https://www.google.de/maps/place/Graf+zu+K%C3%B6nigsegg-Aulendorf+Gesch%C3%A4ftsbereich+Landwirtschaft/@47.9273721,9.4374748,16.3z/data=!4m5!3m4!1s0x479a4c74d8ae0115:0x9f161b2f18d3374c!8m2!3d47.9284137!4d9.4375992">				
		Hubert Geser<br/>
		Stefansreute 1<br/>
		88376 Königseggwald
	</a>
</p>
<p>
	Tel: <a href="tel:+49 75 87 682">07587 / 682</a><br/>
	Fax: 07587 / 1519<br/>
	Mobil: <a href="tel:+49 17 19 74 75 52">0171 / 97 47 552</a>
</p>
<p>
	Mail: <a href="mailto:geser@koenigsegg.de">geser@koenigsegg.de</a>
</p>
