<p>
  <a href="https://www.google.de/maps/place/Weingut+Schloss+Halbturn/@47.8729172,16.9743106,18z/data=!4m8!1m2!2m1!1sWeingut+Schloss+Halbturn+GmbH+%26+Co+KG!3m4!1s0x476c6e8b943d0483:0xbe71f97e9da2ecdf!8m2!3d47.8719488!4d16.9777161" target="_blank">
    Weingut Schloss Halbturn GmbH &amp; Co KG<br/>
    Parkstraße 4 (Besucheradresse: Im Schloss)<br/>
    A-7131 Halbturn<br/>
    Österreich
  </a>
</p>
<p>
  Telefon: <a href="tel:+43 21 72 20 162 0">+43 (0) 21 72 / 20 162-0</a><br/>
  Fax: +43 (0) 21 72 / 20 162-14<br/>
</p>
<p>
  Email: <a href="mailto:wein@schlosshalbturn.com">wein@schlosshalbturn.com</a><br/>
  Internet: <a href="https://www.weingut-schlosshalbturn.com/" target="_blank">https://www.weingut-schlosshalbturn.com</a><br/>
</p>
