{% if page.footer == "forst" %}
<div class="col-sm-5">
{% include adress-forst.html %}
</div>
<div class="col-sm-4 pull-right bottom">
<p>
<img src="{{ site.baseurl }}/images/pefc.png" alt="PEFC">
</p>
<p>PEFC/0421021/011100000030</p>
</div>

{% elsif page.footer == "landwirtschaft" %}
<div class="col-sm-5">
{% include adress-landwirtschaft.html %}
</div>
<div class="col-sm-4 pull-right bottom">
<p>
<img src="{{ site.baseurl }}/images/stephansreute.png" alt="Hofgut Stephansreute">
</p>
</div>

{% elsif page.footer == "sekretariat" %}
<div class="col-sm-8">
{% include adress-sekretariat.html %}
</div>

{% elsif page.footer == "impressum" %}
<div class="col-sm-8">
{% include impressum.html %}
</div>

{% elsif page.footer == "archiv" %}
<div class="col-sm-8">
{% include adress-archivar.html %}
</div>

{% elsif page.footer == "weingut" %}
<div class="col-sm-5">
{% include adress-weingut.html %}
</div>
<div class="col-sm-4 pull-right bottom">
<p>
<img src="{{ site.baseurl }}/images/schlosshalbturn.png" alt="Schloss Halbturn">
</p>
</div>

{% else %}
<div class="col-sm-4">
	{% include adress-sekretariat.html %}
</div>

<div class="col-sm-4">
	{% include adress-forst.html %}
</div>

<div class= "col-sm-4">
	{% include adress-landwirtschaft.html %}	
</div>
{% endif %}