<h3>Impressum:</h3>

<p>
S.H. Maximilian Erbgraf zu Königsegg-Aulendorf<br/>
Kirchplatz 3<br/>
88376 Königseggwald
</p>
<p>
Sekretariat<br/>
Telefon: <a href="tel:+ 49 75 87 95 090">+ 49 7587 / 9509 -0</a><br/>
Telefax: + 49 7587 / 9509 -90
</p>
<p>
E-Mail: <a href="mailto:info@koenigsegg.de">info@koenigsegg.de</a><br/>
Internet: <a href="http://www.koenigsegg.de/" target="_blank">http://www.koenigsegg.de</a>
</p>
<p>
Ust-Idnr.: DE-183263929
</p>
<p>
Design / Umsetzung:<br/>
Benedikt Dichgans und Philipp Engelhardt
</p>