<nav class="navbar">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
		<ul class="nav navbar-nav">
			{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
			{% for p in navigation_pages %}
			{% if p.navigation_weight %}
			<li {% if page.url contains p.url %} class="active" {% endif %}>
				{% if p.external_url %}
				<a target="_blank" href="{{ p.external_url }}">{{p.title}}</a>
				{% else %}
				<a href="{{ site.baseurl }}/{{p.url}}">{% if p.menu-title %} {{ p.menu-title }}{% else %} {{ p.title }} {% endif %}</a>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
			<li class="dropdown">
				<a href="/weingut">Tt</a>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>