<div class="slider-row__sidebar col-md-3 col-xs-12 pull-right">
	{% assign url_parts = page.url | split: '/' %}
	{% assign url_depth = url_parts | size %}
	{% if url_depth > 0 %}
	<ul class="nav nav-sidebar">
	{% assign sidebar_pages = site.html_pages | sort: 'sidebar_weight' %}
		{% for p in sidebar_pages %}
			{% if p.url contains page.url and p.url != site.url or page.url contains p.parentpage %}
			{% if p.sidebar_weight %}
				{% if p.external_url %}
					<li><a target="_blank" href="{{ p.external_url }}">{{p.title}}</a></li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ p.url }}" class="{% if page.url contains p.url %}active{% endif %}">{{p.title}}</a></li>
				{% endif %}
			{% endif %} 
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
</div>