{% if page.slides %}
<div id="myCarousel" class="col-md-9 carousel carousel-fade slide" data-ride="carousel">
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		{% for slides in page.slides %}
		<div class="item {% if forloop.first %}active{% endif %}">
			<img src="{{ baseurl }}/images/{{ slides }}">
		</div>
		{% endfor %}
	</div>
	<ol class="carousel-indicators">
		{% assign counter = 0 %}
		{% for slides in page.slides %}
		<li data-target="#myCarousel" data-slide-to="{{ counter }}" class="{% if forloop.first %}active{% endif %}"></li>
		{% assign counter = counter | plus: 1 %}
		{% endfor %}
	</ol>

</div>


{% endif page.slides %}