//colors
$font_white: #fff;

//bootstrap modification
$font-size-base: 14px !default;
$font-size-h2: floor(($font-size-base * 1.1)) !default;
$font-size-h3: floor(($font-size-base * 1)) !default; // ~30px
$enable-flex: true;
$navbar-margin-bottom: 0px;
$gray-base: #5d5d5d;
$brand-primary: #c23d2f;
$dropdown-link-color: $brand-primary;
$component-active-color: $brand-primary;
$component-active-bg: $font_white;


// Medium screen / desktop


@import "bootstrap";



.container {
	max-width: 887px;
	min-width:250px;

	@media (min-width: 768px) {
		div[class^="col"]{
			padding-left:0px;
			padding-right:0px;
		}
	}

	h1 {
		border-bottom: 10px solid $brand-primary;
		color: $brand-primary;
	}

	h3 {
		margin-top: 5px;
	}

	.top {
		z-index: 1;
	}

	.logo {
		padding: 25px;
    	margin: auto;
    	max-height: 138px;
    	max-width: 180px;
	}

	.dropdown {

		@media (min-width: $screen-md-min) {
			display: none;
		}

		clear: both;

		a {
			display: inline-block;
		}

		.dropdown-toggle {
			padding: 19px;
			float: right;
			@media (min-width: $screen-md-min) {
				display: none!important;
			}

		}
	}

	.navbar-toggle {
		margin-right: -15px;

		.icon-bar {
			background-color: $brand-primary;
		}

	}

	.header {

		@media (min-width: $screen-md-min) {
			background-color: $brand-primary;
			padding-top: 138px;
		}

		.navbar-nav {
			width: 100%;
			
			@media (min-width: $screen-sm-min) {	
				text-align: center;

				.active {
					&:before{
						content: "";
						position: absolute;
						margin-left: auto;
						margin-right: auto;
						left: 0px;
						right: 0px;
						top: -15px;
						background-size: 30px 30px;
						width: 30px;
						height: 30px;
						display: block;
						background-image: url(../images/krone.svg);
					}
				}

				> li {
					float: none;
					display: inline-block;
					&:hover{
						&:before{
							content: "";
							position: absolute;
							margin-left: auto;
							margin-right: auto;
							left: 0px;
							right: 0px;
							top: -15px;
							background-size: 30px 30px;
							width: 30px;
							height: 30px;
							display: block;
							background-image: url(../images/krone.svg);
						}
					}

					&:active {
						&:before{
							content: "";
							position: absolute;
							margin-left: auto;
							margin-right: auto;
							left: 0px;
							right: 0px;
							top: -15px;
							background-size: 30px 30px;
							width: 30px;
							height: 30px;
							display: block;
							background-image: url(../images/krone.svg);
						}
					}
					

				}
			}			
		}

		a {
			@media (min-width: $screen-md-min) {
				color: $font_white;

			}

			&:focus {
				background-color: transparent;
			}

			&:hover {
				background-color: transparent;
			}
		}

	}
	.slider-row {
		position: relative;

		.box {
			position: absolute;
			background-color: $brand-primary; 
		}

		.carousel-fade {
			.carousel-inner {
				.item {
					transition-property: opacity;
				}

				.item,
				.active.left,
				.active.right {
					opacity: 0;
				}

				.active,
				.next.left,
				.prev.right {
					opacity: 1;
				}

				.next,
				.prev,
				.active.left,
				.active.right {
					left: 0;
					transform: translate3d(0, 0, 0);
				}
			}

			.carousel-control {
				z-index: 2;
			}
		}


		&__sidebar {
			position: absolute;
			bottom: 0px;
			right: 0px;	

			.active {
				&:before {
					background-color: $brand-primary;
				}
			}
			a {
				padding-bottom: 0px;
				padding-left: 0px;

				

				&:before {
					content:"";
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-right: 10px;
				}



				&:hover {
					background-color: transparent;
					color: $brand-primary;

					&:before {
						background-color: $brand-primary;

					}

				}

				&:active {
					background-color: transparent;
					color: $brand-primary;
					&:before {
						background-color: $brand-primary;

					}

				}

				&:focus {
					background-color: transparent;
					outline: none;
					color: $brand-primary;
					&:before {
						background-color: $brand-primary;
					}
				}

			}
		}
	}


	.carousel-indicators {
		position: relative;
		left: initial;
		bottom: 0px;
		text-align: right;
		height: 0px;
		margin: 0px;
		width: 100%;

		.active {
			background-color: $brand-primary;
		}

		li {
			border: none;
			border-radius: 0px;
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: $gray-light;
			margin: 10px 0px 0px 5px;

			&:hover {
				background-color: $brand-primary;
			}
			&:active {
				background-color: $brand-primary;
			}
			&:focus {
				background-color: $brand-primary;
			}
		}
	}

	.content {
		padding-left: 0px;
	}

	.footer {

		a {
    		color: #fff;
    		text-decoration: none;
		}

		.col-sm-4 {
			padding: 15px;
		}

		.bottom {
			text-align: right;
			@media (min-width: $screen-sm-min) {
				position: absolute;
				right: 0px;
				bottom: 0px;
				padding: 20px;
			}
		}

		background-color: $brand-primary;
		color: $font_white;
		padding: 15px;
		margin-left: 15px;
		margin-right: 15px;
		@media (min-width: $screen-sm-min) {
			margin-left: 0px;
			margin-right: 0px;
		}

		font-size: 	0.8em;
		
	}
}
